.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
foot_unique.csv
nauseaSimpCompl.csv
nausea_cho.csv
notes.txt
outcome_list.txt
placebo.csv
pt_char_table_cho.csv
rgv_cinema.csv
rgv_cinema_12.13_7_5_2021.cnm
rgv_cinema_RoB_chart_old.png
rgv_cinema_netplot_old.png
rgv_cinema_random_MD_Report.csv
rgv_meta_dat.csv
study_char_table_cho.csv
used_files_dates.txt
